
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">

    
</head>
<body>
    <br>
 <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/kiran_profile.jpg' %}" alt=""> <br>
                <h3>Hi I am Kiran</h3>
                <p>I love coding,doing reasearch and collaborating...</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">
                <h4>Working as a Full stack developer</h4>
                <p>Started my journey in June 2018 as a python developer. <br>
                    Currently working as a ' full time Backend developer' <br>
                    
                </p>
                <p> I am having good knowledge of python language. <br>
                    Working on 'DJANGO' framework, and having good expertise in that framework.

                </p>
                <p>
                    I am having very good knowledge of database technologies . <br>
                    Basically used 'Mysql', 'postgres' and 'MONGOdb'
                </p>
                <p>
                    I having better understanding of front-end technologies. <br>
                    Like HTML, CSS , BOOTSTRAP and JAVASCRIPT.
                </p>
            </div>
        </div>
    </div>
     <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h3>My experiance as a developer</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <h3>What I Know</h3>
            </div>
        </div>
    </div>
      <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h3>How I Learn</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <h3>My Short term goals</h3>
            </div>
        </div>
    </div>

 </div>

</body>
</html>